<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>658778667051-24m49i0imk5f3bb4otq21p8jpvjo8r14.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.658778667051-24m49i0imk5f3bb4otq21p8jpvjo8r14</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>658778667051-78dsco79nas1tq7hnd2qs10i43f8fvoq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB2lKxb6jRzQ3T7Tb5KHaP0msN-qLmL54I</string>
	<key>GCM_SENDER_ID</key>
	<string>658778667051</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shingso.betterlearning</string>
	<key>PROJECT_ID</key>
	<string>betterlearning-88c6f</string>
	<key>STORAGE_BUCKET</key>
	<string>betterlearning-88c6f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:658778667051:ios:f6d48ffba6cdb71f7ad26e</string>
	<key>DATABASE_URL</key>
	<string>https://betterlearning-88c6f.firebaseio.com</string>
</dict>
</plist>